@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

html, body {
    font-family: 'Poppins', sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 1440px;
    padding: 0 32px;
}


.container--header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100%;


}


/*Header*/

.header {
    padding-top: 31px;
    padding-bottom: 100px;


    height: 800px;

    background-color: black;
    background-image: url('../img/header-bg.jpg');
    background-size: cover;
    background-position: center center;

    border-radius: 0 0 54px 54px;

    color: white;


}

.header a {
color: white;

}


.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    display: flex;
    column-gap: 54px
}


.nav-list__item{
    text-transform: capitalize;
}



.nav-list__link {
    color: white;
    opacity: 0.7;
}

.navlist__link--active {
    opacity: 1;
}

.user {
    display: flex;
    column-gap: 8px;
    align-items: center;
}

.user__content {
    color: #FFFFFF;
     
    font-style: normal;
    font-size: 14px;
    line-height: 1.5;

    text-align: right;
    text-transform: capitalize;
}


.user__greeting {

    opacity: 0.5;
}

.user__name {
    font-weight: 600;
}

.user__avatar {
    position: relative;
    height: 48px;
    width: 48px;
}

.user__avatar-img {
    height: 48px;
    width: 48px;
    object-fit: cover;
    border-radius: 50%;
}

.user__avatar::after {
    position: absolute;
    top: 0;
    right: 0;
    
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #FF0000;
}


.header__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 32px;

}

.header__title {
    text-align: center;
    font-weight: 600;
    font-size: 48px;
    line-height: 1.3;

    color: #FFFFFF;
}

.button {
    position: relative;

    display: flex;
    align-items: center;
    column-gap: 10px;

    height: 72px;
    padding: 24px;
    
    background: #7B61FF;
    border-radius: 12px;

    color: #FFFFFF;
    font-size: 18px;

    font-weight: 600;
    transition: all 0.2s ease-in;
}

.button:hover {
    background-color: #5e3ffc;
    top: -3px;
}

.form {
    display: flex;

    background-color: white;
    border-radius: 12px;

    height: 88px;
    max-width: 1140px;

    padding: 14px 8px;

    color: black;
}

.button-search {
    width: 60px;
    height: 60px;

    background: #7B61FF;
    border-radius: 12px;

    padding: 18px;

    font-size: 0;
}

.form__input {
    position: relative;

    background-color: rgba(123, 97, 255, 0.103);
    display: inline-block;
    padding-left: 56px;
    padding-right: 20px;
    /* padding-top: 16px;
    padding-bottom: 16px; 
    padding 16px 20px 16px 56px*/
}

.form__input::before {
    content: "";

    display: block;

    width: 24px;
    height: 24px;

    position: absolute;

    left: 16px;
    top: 18px;



}

.form__input--location::before {
    background-image: url('./../img/icons/location.svg');
    background-repeat: no-repeat;
}

.label {
    font-weight: 300;
    font-size: 14px;
    line-height: 1;
    color: #5B5B5B;
}

.select {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #161414;
}





.main {
}
.destinations {
    margin-bottom: 120px;
    margin-top: 120px;
}
.container--main {
}
.destinations-flexbox {
    margin-top: 64px;
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    flex-wrap: wrap;

}
.header2{
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    color: #161414;
    text-align: left;
    text-transform: capitalize;
}

.preview-container {

}

.preview-img-small {
    width: 203px;
    height: 181px;
    border-radius: 12px;
    padding-bottom: 8px;
}

.header3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #161414;
}
.header4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #979797;
}

/* Activities */

.activities {
}
.navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 64px;

}

.small-button {
    position: relative;
    width: 135px;
    height: 44px;
    background: #F6F4FF;
    border-radius: 12px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    padding-right: 20px;

    color: #5243C2;
}

.small-button::after {
    position: absolute;

    top: 14px;
    right: 15px;

    content: "";
    width: 13px;
    height: 13px;
    background-image: url("../img/icons/button_arrow.svg");
    background-repeat: no-repeat;
}

.small-button:hover {
    outline: 1px solid #5243C2;

}


.activities-flexbox {
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    flex-wrap: wrap;
    padding-bottom: 120px;
}

.activities-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #161414;
}

.activities-preview-box {
}
.activities-preview-img {
    width: 320px;
    height: 380px;
    border-radius: 12px;
    margin-bottom: 16px;
}

/* About us */

.aboutus {
    margin-top: 120px;
    margin-bottom: 120px;
}

.flexbox_aboutus {
    display: flex;
}

.textbox_aboutus {
    padding-top: 86px;
    margin-right: 32px;
    padding-left: 149px;
}



.aboutus_text {
    padding-top: 32px;
    padding-bottom: 32px;
    max-width: 556px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: #5B5B5B;
}





.aboutus_img {
    width: 556px;
    height: 448px;
}

/* Travel Tips */



.traveltips_flexbox {
    display: flex;
    margin-top: 32px;
    justify-content: space-between;
}
.traveltips_small_flexbox {
    display: flex;
    width: 672px;
    
}


.travelimg {
    width: 320px;
    height: 380px;
}
.travel-textbox {
    margin-left: 32px;

    display: flex;

    flex-direction: column;
    justify-content: space-between;
}
.travel_header {
    width: 320px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;


color: #161414;
}
.traveltext {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;


color: #5B5B5B;
}
.travelnav {
    display: flex;
    justify-content: space-between;
}
.icon_travel {
    width: 16px;
    height: 16px;
}
.travel_nav_text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    padding-left: 5px;


color: #878787;

}
.travel_icon {
}

.travel-iconbox {
    display: flex;

}